<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <meta name="robots" content="noindex">
    <link rel="canonical" href="<%= @item[:redirect_to] %>">
    <meta http-equiv="refresh" content="0; url=<%= @item[:redirect_to] %>">
    <link rel="stylesheet" href="/frontend/shared/global_imports.css">
    <link rel="stylesheet" href="<%= @items['/assets/stylesheets/stylesheet.*'].path %>">
    <link rel="stylesheet" href="<%= @items['/assets/stylesheets/footer.*'].path %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <%= render '/header.*' %>
    <div class="gl-docs wrapper pt-5">
      <div id="doc-nav" class="doc-nav"></div>
      <div class="main class pl-lg-4">
        <h2>Redirecting...</h2>
          <a href="<%= @item[:redirect_to] %>">Click here if you are not redirected.</a>
          <script>location='<%= @item[:redirect_to] %>'</script>
        <%= render '/footer.*' %>
      </div>
    </div>
  </body>
</html>
